@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

$dark-cyan: hsl(185, 75%, 39%);
$dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

@mixin flex($align:center, $justify:center, $direction:row, $wrap:wrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin grid($columns:1fr, $gap:20px) {
    display: grid;
    grid-template-columns: $columns;
    grid-gap: $gap;
}

span {
    display: inline-block;
    
    &.bold {
        font-weight: 700;
        font-size: 18px;
        color: $dark-desaturated-blue;

        .light {
            font-size: inherit;
        }
    }
    
    &.light {
        font-weight: 400;
        font-size: 14px;
        color: $dark-grayish-blue;
    }
}
